body {
  font-size: 16px;
  font-family: sans-serif;
}

input,
button {
  background-color: #f1f1f1;
  border: 1px solid #dedede;
  margin-left: 8px;
  margin-right: 8px;
}

input {
  padding: 10px 16px;
}

button {
  padding: 10px 24px;
}

.Header {
  background-color: #aeb5bd;
  width: 100%;
  color: white;
}

.Header h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main {
  background-color: #f1f1f1;
}

.header-container,
.main-container {
  width: 90vw;
  max-width: 912px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  padding-top: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  width: 32px;
  height: 32px;
  background-color: black;
  margin-right: 16px;
}

.site-title-container {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0;
  display: flex;
}

.site-title {
  position: relative;
  top: 2px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.table-of-participants {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}

.table-of-participants tr {
  border-bottom: 1px solid #ddd;
}

.table-header-row {
  /* height: 48px; */
  text-align: left;
}

.table-of-participants th,
.table-of-participants td {
  padding-left: 24px;
  padding-right: 24px;
}

.table-of-participants th {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding-top: 19px;
  padding-bottom: 14px;
}

.table-of-participants td {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 23px;
}

.form-component {
  padding: 16px 8px;
  background-color: white;
  margin-bottom: 0.75rem;
}

@media all and (min-width: 801px) {
  .add-participant-form {
    display: flex;
    flex-wrap: wrap;
  }
}

.flex-grow {
  flex-grow: 1;
}

.fas {
  color: #909090
}
